


body {    background: #EDEEE8;
}

#container {
     width: 800px;
     margin-right: auto;
     margin-left: auto;
}


h1 {
          color: #2D2D2D;
          font: 32px/1 Helvetica, Arial, sans-serif;
          }

h2 {
          color: #2D2D2D;
          font: 24px/1 Helvetica, Arial, sans-serif;
          }
p {
          font-size: 18px;
          /*font: 20px/1.4 Helvetica, Arial, sans-serif;*/
          } 

nav ul {
          list-style: none;
          margin: 0;
          padding: 0;
          background: #E8E7D8;
          overflow: hidden;
}

nav li  {
          float: left;
          padding: 0;
}

nav a {
          text-decoration: none;
          display: block;
          padding: 8px;
          color: #2D2D2D;
     }

a {
          text-decoration: underline;
          display: block;
          color: #2D2D2D;
     }

a:hover {
          color: #FF8D02;
}

ul {
          list-style: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
}

li  {
          padding-right: 10px;
}
